title{
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 40px;
    color: darkblue;
}
body{
    background-color: lightgrey;
}
h1{
    text-align: center;
    font-family: 'Arial Black', sans-serif;
}